// These params usually change with each GWAS. Note that params can be specified at run time and those will supersede the defaults here.
params.magma_input        = null
params.munged_gwas        = null
params.gold_standard_file = null

//nextflow run ~/GMIP/workflows/GMIP_top0500_wf.nf -c ~/GMIP/conf/NAFLD_test.nextflow.config -profile local_conda -resume

// These params are usually set for a given system. Example your laptop or EC2 instance
params.outdir                 = "outdir"
params.prefix                 = "out"
params.base_refdir            = "/work2/04179/mshabb/common/04488464786465dwkljhefkhbefjuh/refdir"
params.script_dir             = "/home1/04179/mshabb/GMIP2"
//params.conda_path           = "/work2/04179/mshabb/ls6/miniforge3/envs/"
params.conda_path             = "/work2/04179/mshabb/stampede3/m/envs/"
params.gene_annot_path        = "${params.script_dir}/bin/pops/example/data/utils/gene_annot_jun10.txt"
params.feature_mat            = "${params.base_refdir}/2_pops_files/data_from_dropbox/expression_pops/feature_in/expression_only.PoPS.features.txt.gz"
params.feature_mat_pathdir    = "${params.base_refdir}/2_pops_files/data_from_dropbox/expression_pops/expression_pops_features_munged"
params.feature_mat_prefix     = "pops_features"
params.control_features_path  = "${params.base_refdir}/2_pops_files/data_from_dropbox/expression_pops/control.features"
params.label                  = "expression_pops_features"

params {
  chromosomes = "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22"

  collapse_genes_to_loci {
    id    = "GENE"
    chr   = "CHR"
    start = "START"
    end   = "STOP"
    score = "ZSTAT"
    wd_sz = 100000
  }

  preprocess {
    pval_column   = "P"
    threshold     = "5e-8"
    chrom_column  = "CHR"
    x_id_col      = "ENSGID"
    y_id_col      = "GENE"
    folds         = "3"
  }

  magma {
    executable   = "${params.script_dir}/bin/magma_dir/v1.06b/magma"
    outdir       = "${params.outdir}/1_magma"
    prefix       = "${params.prefix}.magma"
    ref_pathdir  = "${params.base_refdir}/2_pops_files/data_from_dropbox"
    bfile_prefix = "1000G.EUR"
  }

  pops {
    outdir                            = "${params.outdir}/2_pops"
    prefix                            = "${params.prefix}.pops"
    method                            = "ridge"
    use_magma_covariates              = "true"
    use_magma_error_cov               = "true"
    project_out_covariates_remove_hla = "true"
    feature_selection_remove_hla      = "true"
    training_remove_hla               = "true"
    pred_header_string                = "ENSGID,PoPS_Score,Y,Y_proj,project_out_covariates_gene,feature_selection_gene,training_gene"
  }

  benchmarker {
    gene_col_name             = "NA"
    prio_gene_list_has_header = "False"
    window_size_in_kb         = "100"
    baseline_pathdir          = "${params.base_refdir}/4_benchmarker_files/ldsc_files/baseline_v1.1"
    baseline_prefix           = "baseline"
    bfile_pathdir             = "${params.base_refdir}/4_benchmarker_files/ldsc_files/1000G_EUR_Phase3_plink"
    bfile_prefix              = "1000G.EUR.QC"
    print_snps                = "${params.base_refdir}/4_benchmarker_files/ldsc_files/baseline_v1.1/list.txt"
    weights_pathdir           = "${params.base_refdir}/4_benchmarker_files/ldsc_files/1000G_Phase3_weights_hm3_no_MHC"
    weights_prefix            = "weights.hm3_noMHC."
    frq_pathdir               = "${params.base_refdir}/4_benchmarker_files/ldsc_files/1000G_Phase3_frq"
    frq_prefix                = "1000G.EUR.QC."
    gene_boundary_file        = "${params.base_refdir}/4_benchmarker_files/pops.gene_annot_jun10.bm_gene_boundary.txt"
    gene_window_pathdir       = "${params.base_refdir}/4_benchmarker_files/bm_geneWindow_files_magma_bim"
    gene_window_prefix        = "pops.gene_annot_jun10_100kb_geneWindow."
  }
  
  eval {
    GENE_COL1   = "ENSGID"
    SCORE_COL1  = "Score"
    BINARY_COL1 = "binarized_P"
    GENE_COL2   = "ENSGID"
    SCORE_COL2  = "PredictedScore"
  }

}

profiles {
  local_conda {
    process.executor = 'local'
    conda.enabled    = true
    docker.enabled   = false
  }

  sbatch_cluster {
    process.executor = 'slurm'
    conda.enabled    = true
    docker.enabled   = false
  }
}

process {
  withName: MAGMA {
    tag    = "${params.prefix}"
    conda  = "${params.conda_path}/GMIP"
    memory = '36GB'
    cpus   = 12
  }
  
  withName: PREPROCESS {
    tag    = "${params.prefix}"
    conda  = "${params.conda_path}/GMIP_R"
    memory = '128GB'
    cpus   = 8
  }
  
  withName: POPS {
    tag    = "${params.prefix}"
    conda  = "${params.conda_path}/GMIP"
    memory = '24GB'
    cpus   = 4
    maxForks = 8
  }

  withName: GATHER_RES {
    tag    = "${params.prefix}"
    conda  = "${params.conda_path}/GMIP"
    memory = '32GB'
    cpus   = 4
  }

  withName: BENCHMARKER_PART1 {
    tag    = "${params.prefix}"
    conda  = "${params.conda_path}/GMIP_ldsc"
    memory = '8GB'
    cpus   = 2
  }

  withName: BENCHMARKER_PART2 {
    tag    = "${params.prefix}"
    conda  = "${params.conda_path}/GMIP_ldsc"
    memory = '16GB'
    cpus   = 2
  }

  withName: EVAL {
    tag    = "${params.prefix}"
    conda  = "${params.conda_path}/GMIP_R"
    memory = '32GB'
    cpus   = 4
  }
}
