//nextflow run ~/GMIP/workflows/GMIP_top0500_wf.nf -c ~/GMIP/conf/nextflow.config -profile local_conda -resume
params.magma_input = "${params.base_refdir}/1_test_data/nafld_miao_etal_hgg/2_magma_input/NAFLD_imp_bgen.magma_input.tsv"
params.prefix           = 'NAFLD_popsFeatures'
params.outdir           = "outdir"

// Define the parameters, Most fixed for a location/cluster/laptop/ec2
params.base_refdir      = "/scratch/04179/mshabb/04488464786465dwkljhefkhbefjuh/refdir"
params.script_dir       = "/home1/04179/mshabb/GMIP"
params.gene_annot_path  = "${params.script_dir}/bin/pops/example/data/utils/gene_annot_jun10.txt"
params.conda_path       = "/work2/04179/mshabb/ls6/miniforge3/envs"

//
report.enabled          = true
report.file             = "${params.outdir}/report.html"
report.overwrite        = true

params {
  magma {
    executable   = "${params.script_dir}/bin/magma_dir/v1.06b/magma"
    outdir       = "${params.outdir}/1_magma"
    prefix       = "${params.prefix}.magma"
    ref_pathdir  = "${params.base_refdir}/2_pops_files/data_from_dropbox"
    bfile_prefix = "1000G.EUR"
  }
}

profiles {
  local_conda {
    process.executor = 'local'
    conda.enabled    = true
    docker.enabled   = false
  }

  sbatch_cluster {
    process.executor = 'slurm'
    conda.enabled    = true
    docker.enabled   = false
  }
}

process {
  withName: MAGMA {
    conda  = "${params.conda_path}/GMIP"
    tag    = "${params.prefix}"
    memory = '12GB'
    cpus   = 2
  }
}
