//nextflow run ~/GMIP/workflows/GMIP_benchmarker_on_gene_list.nf -c ~/GMIP/workflows/GMIP_benchmarker_on_gene_list.nextflow.config -profile local_conda

// Define the parameters
params.base_refdir      = "/scratch/04179/mshabb/04488464786465dwkljhefkhbefjuh/refdir"
params.gene_list        = '${params.base_refdir}/1_test_data/nafld_miao_etal_hgg/3_munged_gwas/NAFLD_imp_bgen.forLDSC.sumstats.gz'
params.prefix           = 'NAFLD_popsFeatures'
params.label            = 'gwas_top250'
params.outdir           = "outdir"

// Most fixed for a location/cluster/laptop/ec2
params.munged_gwas      = "/scratch/04179/mshabb/05577fee5848687884crrerfefe845/data/3_munged_gwas/NAFLD/miao_etal_hgg/NAFLD_imp_bgen.forLDSC.sumstats.gz"
params.script_dir       = "/home1/04179/mshabb/GMIP"

params.gene_annot_path  = "${params.base_refdir}/static_gits/pops/example/data/utils/gene_annot_jun10.txt"
params.conda_path       = "/work2/04179/mshabb/ls6/miniforge3/envs"

//
report.enabled          = true
report.file             = "${params.outdir}/report.html"
report.overwrite        = true

params {
  chromosomes = "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22"
  benchmarker {
    gene_col_name             = "NA"
    prio_gene_list_has_header = "False"
    window_size_in_kb         = "100"
    baseline_pathdir          = "${params.base_refdir}/4_benchmarker_files/ldsc_files/baseline_v1.1"
    baseline_prefix           = "baseline"
    bfile_pathdir             = "${params.base_refdir}/4_benchmarker_files/ldsc_files/1000G_EUR_Phase3_plink"
    bfile_prefix              = "1000G.EUR.QC"
    print_snps                = "${params.base_refdir}/4_benchmarker_files/ldsc_files/baseline_v1.1/list.txt"
    weights_pathdir           = "${params.base_refdir}/4_benchmarker_files/ldsc_files/1000G_Phase3_weights_hm3_no_MHC"
    weights_prefix            = "weights.hm3_noMHC."
    frq_pathdir               = "${params.base_refdir}/4_benchmarker_files/ldsc_files/1000G_Phase3_frq"
    frq_prefix                = "1000G.EUR.QC."
    gene_boundary_file        = "${params.base_refdir}/4_benchmarker_files/pops.gene_annot_jun10.bm_gene_boundary.txt"
    gene_window_pathdir       = "${params.base_refdir}/4_benchmarker_files/bm_geneWindow_files_magma_bim"
    gene_window_prefix        = "pops.gene_annot_jun10_100kb_geneWindow."
  }
}

profiles {
  local_conda {
    process.executor = 'local'
    conda.enabled    = true
    docker.enabled   = false
  }

  sbatch_cluster {
    process.executor = 'slurm'
    conda.enabled    = true
    docker.enabled   = false
  }
}

process {
  withName: BENCHMARKER_PART1 {
    tag    = "${params.prefix}"
    conda  = "${params.conda_path}/GMIP_ldsc"
    memory = '12GB'
    cpus   = 1
  }

  withName: BENCHMARKER_PART2 {
    tag    = "${params.prefix}"
    conda  = "${params.conda_path}/GMIP_ldsc"
    memory = '12GB'
    cpus   = 1
  }
}
